:root {
    --customColor: #0044ff;
    --puple: #Ce00ff;
    --orange: #ff4600;
    --blue: #0044ff;
    --cyan: #03ffc7;
}

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    position: relative;
    z-index: 1;
}

h1,h2,h3,h4 {
    font-weight: 500;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .container {
    padding: 0 3rem;
    }
}

/* Header */
.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0,0,19);
    z-index: 1;
    overflow: hidden;
}

.header img {
    position: absolute;
    right: 12%;
    bottom: 0;
    width: 35rem;
    z-index: -1;
}

@media only screen and (max-width: 996px) {
    .header {
        min-height: 70vh;
    }

    .header img {
        width: 26rem;
    }
}

@media only screen and (max-width: 768px) {
    .header img {
        width: 24rem;
    }
}

@media only screen and (max-width: 567px) {
    .header {
        min-height: 100vh;
    }

    .header img {
        width: 19rem;
        right: 20%;
    }
}

.nav {
    padding: 1.6rem 0;
}

.nav.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--customColor);
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    z-index: 999;
}

.nav.fix-nav .logo h1 span {
    color: #fff;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 2.5rem;
    color: #fff;
}

.logo h1 span {
    font-weight: bold;
    color: var(--customColor);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: .5rem;
}

.nav-link:link,.nav-link:visited {
    color: #fff;
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover {
    border-radius: .3rem;
    background-color: var(--customColor);
}

.top-nav,.hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: #fff;
        transition: all 300ms ease-in-out;
        z-index: 100;
    }

    .menu.show{
        left: 0;
    }

    .top-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--customColor);
        padding: 1rem 1.6rem;
    }

    /* .logo h1 span {
        color: #fff;
    } */

    .top-nav .close {
        color: #fff;
        font-size: 2.3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        color: #fff;
        font-size: 2.3rem;
        padding: .5rem;
        cursor: pointer;
    }

    .nav-link:link,.nav-link:visited {
        display: block;
        font-size: 1.7rem;
        color: #222;
        padding: 1rem 0;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1.6rem;
    }

    body.show::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        z-index: 1;
    }

    .nav.show {
        background-color: rgba(0,0,0,.8);
    }
}

/* Hero */

.hero {
    position: absolute;
    top: 50%;
    transform: translate(30%, -50%);
    color: #fff;
}

.hero h3 {
    font-weight: 400;
    font-size: 2rem;
}

.hero h1 {
    font-size: 6rem;
}

.hero h4 {
    font-size: 2rem;
}

.hero h4 span {
    color: var(--customColor);
    text-decoration: underline;
}

.hero a:link,.hero a:visited {
    display: inline-block;
    padding: .8rem 2.5rem;
    border: 1px solid var(--customColor);
    background-color: var(--customColor);
    color: #fff;
    margin-top: 2rem;
    border-radius: 5px;
}

.hero a:hover {
    background-color: transparent;
}

@media only screen and (max-width: 996px) {
    .hero {
        transform: translate(10%, -50%);
    }
}

@media only screen and (max-width: 768px) {
    .hero h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 567px) {
    .hero {
        top: 35%;
    }

    .hero h3 {
        font-size: 1.6rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .hero h4 {
        font-size: 1.6rem;
    }
}

.icons {
    position: absolute;
    bottom: 7%;
    left: 10%;
}

.icons a:not(:last-child) {
    margin-right: 1rem;
}

.icons a {
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: #fff;
}

.icons a:hover {
    color: var(--customColor);
}

@media only screen and (max-width: 567px) {
    .icons {
        /* display: none; */
          bottom: 40%;
          left: 8%;
    }
}

/* color control */

.control {
    position: fixed;
    right: -3.5rem;
    top: 15%;
    transition: all 300ms ease-in-out;
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.control.open {
    right: 0;
}

.control .widget {
    position: absolute;
    left: -2.5rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0, .4);
    cursor: pointer;
    padding: .2rem .3rem;
    background-color: #fff;
    text-align: center;
}

.control .widget i {
    font-size: 2rem;
    animation: spin 2s linear infinite;
    color: #000;
    text-align: center;
}

.control .colors {
    background-color: #fff;
    padding: 1rem .8rem;
    box-shadow: 0 2px 5px rgb(0,0,0,.2);
}

.control .colors span {
    display: block;
    width: 1.9rem;
    height: 1.9rem;
    padding: .7rem;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.control .colors span:not(:last-child) {
    margin-bottom: .7rem;
}

.control .colors span:nth-child(1) {
    background-color: var(--blue);
}

.control .colors span:nth-child(2) {
    background-color: var(--orange);
}

.control .colors span:nth-child(3) {
    background-color: var(--puple);
}

.control .colors span:nth-child(4) {
    background-color: var(--cyan);
}


/* About */

.section {
    padding: 5rem 0 7rem 0;
    overflow-x: hidden;
}

.about {
    margin-top: 5rem;
}

.about-center {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem 5rem;
}

.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
}

.title h1 {
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.title h1::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: var(--customColor);
    width: 50%;
    height: .4rem;
    z-index: 1;
}

.left img {
    height: 33rem;
    max-width: 35rem;
    object-fit: cover;
    border-radius: 2px;
}

.right h1 {
    margin-bottom: 2rem;
}

.right p {
    line-height: 2;
    margin-bottom: 2rem;
    /* color: #333; */
}

.right h1 span {
    color: var(--customColor);
}

@media only screen and (max-width:996px) {
    .right h1 {
        font-size: 2rem;
    }

    .right p {
        font-size: 1.5rem;
    }

    .left img {
        height: 40rem;
        max-width: 25rem;
    }
}

@media only screen and (max-width: 996px) {
    .about-center {
        grid-template-columns: 1fr;
        gap: 3rem 0;
    }

    .left {
        text-align: center;
    }

    .left img {
        height: 40rem;
        max-width: 90%;
    }
}

/* Skills */

.skills {
    background-color: #000;
}

.skills h1 {
    color: #fff;
}

.skills-box:not(:last-child) {
    margin-bottom: 2rem;
}

.skills-box h4 {
    font-size: 1.8rem;
    color: #888;
    font-size: 500;
}

.skills-box .skills-ilt {
    width: 100%;
    position: relative;
    height: 1rem;
    background-color: #ccc;
    border-radius: .3rem;
}

.skills-box .skills-bar {
    background-color: var(--customColor);
    height: 1rem;
    border-radius: .3rem;
}

.skills-box .html {
    width: 95%;
}

.skills-box .css {
    width: 95%;
}

.skills-box .bootstrap {
    width: 85%;
}

.skills-box .react {
    width: 75%;
}

.skills-box .python {
    width: 60%;
}

.skills-box .nodejs {
    width: 70%;
}

.skills-box .expressjs {
    width: 65%;
}

.skills-box .mysql {
    width: 55%;
}

.skills-box .mongodb {
    width: 70%;
}

.skills-box .teamplayer {
    width: 95%;
}

.skills-box span {
    color: #ccc;
    position: absolute;
    bottom: 80%;
    right: 0;
    font-size: 1.5rem;
}

.skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

@media only screen and (max-width: 768px) {
    .skills-center {
        grid-template-columns: 1fr;
    }
}

/* Experience */

ul.exp-con li {
    list-style-type: disc !important;
    margin-left: 30px;
}

.experience-list ul {
        display: table;
        margin: 0 auto;
        justify-content: center;
        line-height: 2;
}

.experience-list ul li {
    margin-bottom: 2rem;
}

@media only screen and (max-width:996px) {
    .experience-list li {
        font-size: 1.5rem;
    }
}

/* Projects */

.theme {
    color: #fff;
    background-color: #000;
}

.project {
    color: #fff;
    background-color: #111;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    border-bottom: 4pxsolid transparent;
    transition: all 300ms ease-in-out;
}

.project .img-cover {
    overflow: hidden;
    border-bottom: 4px solid var(--customColor);
    height: 17rem;
    width: 23rem;
    border-radius: 3px;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
}

.project .img-cover img {
    height: 100%;
    object-fit: cover;
}

.project h2 {
    margin: 1rem 0;
}

.project p {
    font-size: 1.5rem;
    color: #ccc;
    width: 80%;
    margin: 0 auto 1rem auto;
}

.project:hover {
    border-bottom: 4px solid #fff;
    background-color: var(--customColor);
}

.project:hover .img-cover {
    border-color: #fff;
}

.git {
    text-align: center;
}

.git p {
    padding: 4rem 0;
}

.git a:link,
.git a:visited {
    padding: .8rem 2.5rem;
    border: 1px solid var(--customColor);
    background-color: var(--customColor);
    color: #fff;
    border-radius: 5px;
}

.git a:hover {
    background-color: transparent;
}

/* Certification */

.certification-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem 3rem;
    padding: 0 5rem;
}

.certification-center .card{
    overflow: hidden;
}

.certification-center .card .img-holder {
    width: 30rem;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}


.certification-center .card .img-holder::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    left: 0;
    top: 100%;
    border-radius: 3px;
    z-index: 1;
    transition: all 500ms ease-in-out;
}

.certification-center img {
    object-fit: cover;
    width: 30rem;
    /* height: 20rem; */
    border-radius: 3px;
    display: block;
    margin: auto;
    z-index: 0;
}

.certification-center span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: white;
    z-index: 2;
    visibility: hidden;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.certification-center .card .img-holder:hover:after {
    top: 0;
}

.certification-center .card .img-holder:hover span {
    visibility: visible;
}

@media only screen and (max-width: 567px) {
    .certification-center{
        gap: 3rem;
        padding: 0;
    }
}

/* Contact */

.contact {
    background-color: #000;
    color: #fff;
}

.contact-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.contact .left h2 {
    text-align: left;
}

.contact .left p {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.left div {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.left div .content {
    text-align: left;
}

.left .icon {
    margin-right: 2rem;
    font-size: 2.3rem;
    color: var(--customColor);
}

.form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form input,.form textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    padding: 1rem 0;
    text-indent: 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
}

.form textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
    .contact-center {
        grid-template-columns: 1fr;
    }

    .contact-center .left {
        text-align: left;
    }

    .left div .content h3 {
        font-size: 1.6rem;
    }

    .left div .content span {
        font-size: 1.5rem;
    }
}

.contact button {
    padding: 1.2rem 2.5rem;
    border: 1px solid var(--customColor);
    background-color: var(--customColor);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: transparent;
}

/* Footer */

footer {
    background-color: #111;
    padding: 1.6rem 1rem;
    text-align: center;
}

footer p {
    color: #fff;
}

footer p span {
    color: var(--customColor);
}